<div class="alert alert-danger" *ngIf="errors">
  <h4>{{errors._message}}</h4>
  <p>{{errors.message}}</p>
</div>
<div class="container card">
  <div class="card-body">
    <h4 class="card-title">Edit Product - {{product.name}}</h4>
    <form class='' #editProductForm="ngForm"  (ngSubmit)="onProductEditSubmit(editProductForm.value)">
      <div class="form-group">
        <label for="name" class="">Name:</label>
        <input
          type="text"
          class="form-control"
          placeholder="name"
          name="name"
          minlength="3"
          [(ngModel)]="product.name"
          #name="ngModel"
          required>
          <div *ngIf="!name.valid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
              Please enter a name for your product.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 3 characters long.
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="price" class="">Price:</label>
        <input
          type="text"
          class="form-control"
          placeholder="price"
          name="price"
          min="0"
          [(ngModel)]="product.price"
          #price="ngModel"
          currencyMask
          required>
          <div *ngIf="!price.valid && (price.dirty || price.touched)" class="alert alert-danger">
            <div *ngIf="price.errors.required">
              Please enter a Price.
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="qty" class="">Qty:</label>
        <input
          type="number"
          class="form-control"
          placeholder="qty"
          name="qty"
          min="0"
          step="1"
          [(ngModel)]="product.qty"
          #qty="ngModel"
          required>
          <div *ngIf="!qty.valid && (qty.dirty || qty.touched)" class="alert alert-danger">
            <div *ngIf="qty.errors.required">
              Please enter a quantity.
            </div>
          </div>
      </div>
      <div class="form-group col-sm-12">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!editProductForm.form.valid">
            EDIT
        </button>
      </div>
    </form>
    <button class="btn btn-danger" (click)="resetProduct(product._id)">RESET</button>
  </div>  
</div>